//=========================================//
//======Start Executive Version@1.0.0======//
//=========================================//

//============Color Vars
$main-color: #717cff;
$Font-color-first: #373737;
$Font-p: #7a7a7a;
$bg-color: #fafafa;
//======================

//============Shadow
$shadow: 0 0 7px -3px #b9b9b9;
//==================
